#Default Configuration file 
log4j.rootLogger=INFO, Root, Console
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d %p %c %m%n
log4j.appender.Root=org.apache.log4j.DailyRollingFileAppender
log4j.appender.Root.Append=true
log4j.appender.Root.File=../log/mps.log
log4j.appender.Root.DatePattern='.'yyyy-MM-dd
log4j.appender.Root.layout=org.apache.log4j.PatternLayout
log4j.appender.Root.layout.ConversionPattern=%d %p %c %m%n