.dataTable-div-headerTable-wrapper {
    margin:0px;
    padding:0px;

    background:url( ../images/grid3-hrow.gif ) repeat-x bottom;
    background-color:#f9f9f9;
}

.dataTable-div-headerTable {
    margin:0px;
    padding:0px;
    margin-right:16px;
}

* html .dataTable-div-headerTable {
    margin:0px;
    padding:0px;
    padding-right:16px;
    width:100%;
}

.dataTable-div-bodyTable {
    margin:0px;
    padding:0px;
    overflow-y:scroll;
    width:100%;
    background:url( ../images/bg_art1.jpg );
}

.dataTable {
    /*width: 100%;
    border: 1px solid #E7E7E7;*/
    border-width: 0px 1px 0px 1px;
        border-spacing: 0px;
        border-style: solid solid solid solid;
        border-color: #E7E7E7 #E7E7E7 #E7E7E7 #E7E7E7;
        border-collapse: separate;
        /* background-color: black; */
    text-decoration: none;
        width: 100%;

    
}

.dataTable th {
  
 border-width: 1px 1px 1px 1px;
        
        border-style: solid solid solid solid;
        border-color: #E7E7E7  #E7E7E7 #999999 #E7E7E7;
        background-color: #F0F0F0;
color: #0B55C4;
padding: 8px;

}

.dataTable tr {
    /*background-color: #fff;*/
    text-align: left;
    padding: 3px 3px 3px 3px;

    
}

.dataTable tr:hover td {
    background-color: #ffffdd;
    /*background-color: #ffd;*/
}

.dataTable  td {
    color:#666666;
   /* padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;*/

    font-family:helvetica,arial,tahoma,sans-serif;
    font-size:12px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    /*border: 0px solid #6593cf;*/
    border-width: 0px 0px 1px 1px;
 border-spacing: 0px;
     border-style: solid solid solid solid;
        border-color: #E7E7E7 #E7E7E7 #E7E7E7 #E7E7E7;
         padding: 5px 5px 5px 5px;

}

.dataTable tr.total td {
    white-space: nowrap;
    vertical-align: top;
    font-weight: bold;
    
    
    
}

.dataTable tr.total td.customer {
    visibility: hidden;
}

.dataTable td.hidden {
    display: none;
}

.dataTable th.hidden {
    display: none;
}

.dataTable th.r {
    text-align: right;
    padding-right: 10px;
}

.dataTable th.c {
    text-align: center;
}

.dataTable td.r {
    text-align: center;
    padding-right: 10px;
}

.dataTable td.c {
    text-align: left;
    border: 1px solid black;
}

.dataTable  tr.odd {
    background-color:  #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:  1px solid #E7E7E7;
}

.dataTable tr.even {
    background-color:  #F9F9F9;
    /*background: #eff9fe;*/
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:  1px solid #E7E7E7;
    
}

.pagelinks {
    color: #999999;
    /*margin: 5px;*/
}

.pagelinks img {
    vertical-align: middle;
}


.dataTable tr.rowMouseOver {
    background-image: url(../images/selected.gif);
    background-repeat: repeat-x;
    background-color: #ffff99;
}

.pageHeader {
    height: 60px;
    background-image: url(../images/header.gif);
    background-repeat: repeat-x;
}

.pageHeaderText {
    font-size: 30px;
    margin-left: 5px;
    color: #6593cf;
    font-family: "century gothic", verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display:inline;
    white-space: nowrap;
}

.leftMenu {
    white-space: nowrap;
    height: 100%;
    background-color: #d6cfe6;
    font-family: verdana, arial, helvetica, sans-serif;
}

.content {    
    padding: 10px;
}

.rightColumn {
    width: 3px;
}


.lineItemTotal {
    text-align: right;
    width: 15%;
    padding-right:10px;
}

.borderedInline {
    display: inline;
    border: 1px solid black;
}

img {
    border: 0px;
}